body {
  color:rgba(51,51,51, 1)
}

.header {
  background-color: rgb(114,141,129);
  padding-bottom: 80px;
}
.banner {
  position: relative;
  max-width: 1400px;
  margin: auto;
}
.banner-item{
  
}
.banner-txt{
  color:rgba(228,225,213);
  writing-mode: vertical-lr;
  position: absolute;
  bottom: 0;
  padding: 10px;
  background-color: rgba(0,0,0, .5);
  font-size: 18px;
  letter-spacing: 4px;
}


/* .carousel-txt{
  background-color: #333;
  padding: 30px 60px;
  color: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 48px;
  max-width: 1200px;
  width: 100%;
}
.carousel-txt span{
  font-size: 24px;
  display: block;
  color: #d4d4d4;
} */
.navbar {
  padding: 30px 0;

}

.navbar-nav .nav-item .nav-link {
  font-size: 20px;
  line-height: 150%;
  color: #fff;
  font-weight: 500;
}
.navbar-nav .nav-item .nav-link:hover {
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-duration: .2s;
  color: rgb(84,97,90);
}

.intro{
  padding: 80px 0;
  background-color: #f4f4f4;
}
.intro h3{
  font-weight: 600;
  margin-bottom: 30px;
  font-size: 36px;
  color: rgb(51,51,51);
}
.intro p{
  font-size: 20px;
  color: rgba(51,51,51, 0.9);

}
.work_space {
  border: none;
  background-color: rgb(234,235,232);

}
.card_content {
  padding: 80px 0;
}
.card_content .row {
  flex-direction: column;

}
.card_content .card {
 padding: 30px;
 background: transparent;
 border: none;
}
.card_content .row:last-child{
  padding-top: 120px;
} 

.service{
  background-color: #f4f4f4;
  padding: 60px 0;
}
.service_content .row {
  padding: 0;
}
.service_content .card-body {
  padding: 15px 0;
  font-size: 36px;
  font-weight: 600;
}
.service_content .card-txt {
  text-align: center;
  font-size: 28px;
  letter-spacing: 2px;
  margin-bottom: 0;
  line-height: 1.5;
}

.service_content .card .card-wrap {
  background-color: #fff;
  padding-bottom: 15px;
  box-shadow: 0px 1px 2px rgb(114 141 129 / 80%);
}

.service_content .card {
  padding: 30px;
  background-color: transparent;
  border: none;
}

.service_content .card .more_btn {
  padding: 12px 32px;
  border-radius: 8px;
  border:1px solid rgb(114,141,129);
  color: rgb(114,141,129);
  font-size: 24px;
  display: block;
  margin: 20px auto;
  background-color: transparent;
}
.service_content .card .more_btn:hover {
  background-color: rgb(114,141,129);
  color: #fff;
  transition: .3s;
}

section .title{
  font-size: 48px;
  text-align: center;
  font-weight: 600;
  padding-bottom: 80px;
  position: relative;
}
section .title::after {
  content: '';
  position: absolute;
  margin: auto;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #000;
  width: 80px;
  height: 3px;
}

/* .main_content .card h3{
  text-align: center;
  font-size: 32px;
  padding: 16px 0;
  margin-bottom: 0;
} */

.member {
  padding: 60px 0;
}

.member .container{
  margin: auto;
}
.member .item{
  margin-bottom: 100px;
  position: relative;
}
.member .item p {
  font-size: 20px;
  background-color: #f7f7f7;
  padding: 30px;
  padding-bottom: 70px;
}
.member .icon-star {
  display: block;
  margin-bottom: 15px;
}
.member .item .icon-person {
  font-size: 40px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 50%;
  padding: 20px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -20px;
}
.cardImg-content {
  padding: 0;
}
.cardImg-content .card-body {
  border: 1px solid #d9d9d9;
}
.form_item input{
  padding: 15px;
}
.form_item textarea{
  padding: 20px 0;
}
.space{
  background-color: #ccc;
}
.footer{
  padding: 20px;
  background-color: rgb(114,141,129);
}
.f-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.space{
  padding: 0;
}
.contact {
  background-color: #f4f4f4;
  padding: 80px 0;
}
.contact button, .member_space button {
  border-color: rgb(114,141,129);
  background-color: transparent;
  color: rgb(114,141,129);
  padding: 8px 0;
}
.contact button:hover, .member_space button:hover  {
  background-color: rgb(114,141,129);
  border-color: rgb(114,141,129);
  color: #fff;
  transition: .3s;
}
.contact .container{
  margin: auto;
  align-items: center;
}

.btn-check:focus+.btn-primary, .btn-primary:focus, .btn-primary:active:focus{
  color: #fff;
  background-color: rgb(114,141,129);
  border-color: rgb(114,141,129);
  box-shadow: 0 0 0 0.25rem rgb(114 141 129 / 50%);
}
.space_img{
  position: relative;
}
.space_img button{
  position: absolute;
  max-height: 300px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  color: rgb(114,141,129);
  border:2px solid rgb(114,141,129);
  font-size: 24px;
  padding: 16px 32px;
  border-radius: 4px;
}

.space_img button:hover {
  transition: .3s;
  background-color: rgb(114,141,129);
  color: #fff;
}

.info ul {
  margin-bottom: 0;
}
.info ul li {
  line-height: 1.5;
  font-size: 16px;
  color: #fff;
  padding: 10px 0;
  font-weight: 300;
}
.footer .logo {
  padding: 30px 0;
}

/* ---------------------------space--------------------- */
.space_header {
  background: url(../images/theme_space.png);
  width: 100%;
  height: 450px;
  position: relative;
}
.space-banner-txt {
  background-color: rgba(233, 233, 233,0.85);
  padding: 15px 0px;
  color: #000;
  font-weight: 600;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  font-size: 32px;
  width: 100%;
}

.intro .main_space_content {
  font-size: 20px;
}

.theme_space section{
  padding: 80px 0;
}
.life_reading, .coffee_restaurant{
  background-color: #f7f7f7;
}
.creator {
  background-color: #f2f2f2;
}

.theme_space .content {
  font-size: 24px;
  text-align: center;
  line-height: 1.5;
  letter-spacing: 1.5px;
  margin-bottom: 30px;
}
.theme_space .item {
  border: 1px solid #d9d9d9;
}

.space_intro {
  padding-top: 30px;
  font-size: 24px;
  font-weight: 500;
}
.space_intro .main_space_content {
  padding: 0 30px;
  color: #666;
}

.theme_space .row, 
.price_reading .row{
  padding: 0;
}
.price_reading .item {
  margin-bottom: 30px;
}
.theme_space .item .card-wrap .card-body, 
.price_reading .item .card-wrap .card-body{
  padding: 15px 0;
  font-size: 36px;
  font-weight: 600;
}
.theme_space .item .card-wrap .card-txt, 
.price_reading .item .card-wrap .card-txt{
  text-align: center;
  font-size: 20px;
  letter-spacing: 2px;
  margin-bottom: 0;
  line-height: 1.5;
}

.theme_space .item .card-wrap, .price_reading .item .card-wrap{
  background-color: #fff;
  padding-bottom: 15px;
  box-shadow: 0px 1px 2px rgb(114 141 129 / 80%);
}


.theme_space .item .card-wrap .more_btn{
  padding: 12px 32px;
  border-radius: 8px;
  border:1px solid rgb(114,141,129);
  color: rgb(114,141,129);
  font-size: 24px;
  display: block;
  margin: 20px auto;
  background-color: transparent;
}
.theme_space .item .card-wrap .more_btn:hover{
  background-color: rgb(114,141,129);
  color: #fff;
  transition: .3s;
}
/* ---------------------------service--------------------- */
.service_header {
  background: url(../images/service.png);
  width: 100%;
  height: 450px;
  position: relative;
}
.price_reading{
  padding: 60px 0px;
}
.price_reading .first_space > .item{
  height: 100%;
}

.price {
  padding: 60px 0px;
  background-color: #f2f2f2;
}
.price .item {
  text-align: center;
  background-color: #fff;
  padding: 30px 20px;
  margin: auto 15px;
  box-shadow: 2px 2px 4px rgb(114 141 129 / 80%);
  border-radius: 8px;
}
.price .item .card-title {
  font-size: 32px;
  font-weight: 600;
  padding-bottom: 4px;
}
.price .item .subTitle {
  font-size: 20px;
  color: #666;
}
.price .item .card-text {
  font-size: 20px;
  padding: 16px 0;
  text-align: left;
}
.price .item .more_btn {
  padding: 12px 24px;
  border-radius: 8px;
  bottom: 20px;
  background-color: transparent;
  border:1px solid rgb(114,141,129);
  color: rgb(114,141,129);
  font-size: 24px;
  margin: auto;
  cursor: pointer;
}

.price .item .more_btn:hover {
  background-color: rgb(114,141,129);
  color: #fff;
  transition: .3s;
}

/* ---------------------------contact--------------------- */
.contact_header {
  background: url(../images/space_member.png);
  width: 100%;
  height: 450px;
  position: relative;
}
.member_space{
  padding: 60px 0;
}
.member_space .container {
  max-width: 1024px;
}