body {
  color:rgba(51,51,51, 1)
}

.header {
  background-color: rgb(114,141,129);
  padding-bottom: 80px;
}
.banner {
  position: relative;
  max-width: 1400px;
  margin: auto;
}

.banner-txt{
  color:rgba(228,225,213);
  writing-mode: vertical-lr;
  position: absolute;
  bottom: 0;
  padding: 10px;
  background-color: rgba(0,0,0, .5);
  font-size: 18px;
  letter-spacing: 4px;
}

.navbar {
  padding: 30px 0;

}

.navbar-nav .nav-item .nav-link {
  font-size: 20px;
  line-height: 150%;
  color: #fff;
  font-weight: 500;
}
.navbar-nav .nav-item .nav-link:hover {
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-duration: .2s;
  color: rgb(84,97,90);
}

.intro{
  padding: 80px 0;
  background-color: #f4f4f4;
}
.intro h3{
  font-weight: 600;
  margin-bottom: 30px;
  font-size: 36px;
  color: rgb(51,51,51);
}
.intro p{
  font-size: 20px;
  color: rgba(51,51,51, 0.9);

}
.work_space {
  border: none;
  background-color: rgb(234,235,232);

}
.card_content {
  padding: 80px 0;
}
.card_content .row {
  flex-direction: column;

}
.card_content .card {
 padding: 30px;
 background: transparent;
 border: none;
}
.card_content .row:last-child{
  padding-top: 120px;
} 

.service{
  background-color: #f4f4f4;
  padding: 60px 0;
}
.service_content .row {
  padding: 0;
}
.service_content .card-body {
  padding: 15px 0;
  font-size: 36px;
  font-weight: 600;
}
.service_content .card-txt {
  text-align: center;
  font-size: 20px;
  letter-spacing: 2px;
  margin-bottom: 0;
  line-height: 1.5;
  font-weight: 400;
}

.service_content .card .card-wrap {
  background-color: #fff;
  padding-bottom: 15px;
  box-shadow: 0px 1px 2px rgb(114 141 129 / 80%);
}

.service_content .card {
  padding: 30px;
  background-color: transparent;
  border: none;
}

.service_content .card .more_btn {
  padding: 8px 32px;
  border-radius: 8px;
  border:1px solid rgb(114,141,129);
  color: rgb(114,141,129);
  font-size: 20px;
  display: block;
  margin: 20px auto;
  background-color: transparent;
}
.service_content .card .more_btn:hover {
  background-color: rgb(114,141,129);
  color: #fff;
  transition: .3s;
}

section .title{
  font-size: 36px;
  text-align: center;
  font-weight: 600;
  padding-bottom: 80px;
  position: relative;
}
section .title::after {
  content: '';
  position: absolute;
  margin: auto;
  bottom: 75px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #000;
  width: 80px;
  height: 3px;
}

.member {
  padding-top: 60px;
  padding-bottom: 20px;
}

.member .container{
  margin: auto;
}
.member .item{
  position: relative;
}
.member .item p {
  font-size: 20px;
  background-color: #f7f7f7;
  padding: 30px;
  padding-bottom: 70px;
}
.member .icon-star {
  display: block;
  margin-bottom: 15px;
}
.member .item .icon-person {
  font-size: 40px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 50%;
  padding: 20px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -20px;
}
.cardImg-content {
  padding: 0;
}
.cardImg-content .card-body {
  border: 1px solid #d9d9d9;
}
.form_item input{
  padding: 15px;
}
.form_item textarea{
  padding: 20px 0;
}
.space{
  background-color: #ccc;
}
.footer{
  padding: 20px;
  background-color: rgb(114,141,129);
}
.f-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.space{
  padding: 0;
}
.contact {
  background-color: #f4f4f4;
  padding: 80px 0;
}
.contact button, .member_space button {
  border-color: rgb(114,141,129);
  background-color: transparent;
  color: rgb(114,141,129);
  padding: 8px 0;
}
.contact button:hover, .member_space button:hover  {
  background-color: rgb(114,141,129);
  border-color: rgb(114,141,129);
  color: #fff;
  transition: .3s;
}
.contact .container{
  margin: auto;
  align-items: center;
}

.btn-check:focus+.btn-primary, .btn-primary:focus, .btn-primary:active:focus{
  color: #fff;
  background-color: rgb(114,141,129);
  border-color: rgb(114,141,129);
  box-shadow: 0 0 0 0.25rem rgb(114 141 129 / 50%);
}
.space_img{
  position: relative;
}
.space_img button{
  position: absolute;
  max-height: 300px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  color: rgb(114,141,129);
  border:2px solid rgb(114,141,129);
  font-size: 24px;
  padding: 16px 32px;
  border-radius: 4px;
}

.space_img button:hover {
  transition: .3s;
  background-color: rgb(114,141,129);
  color: #fff;
}

.info ul {
  margin-bottom: 0;
}
.info ul li {
  line-height: 1.5;
  font-size: 16px;
  color: #fff;
  padding: 10px 0;
  font-weight: 300;
}
.footer .logo {
  padding: 30px 0;
}
.service_content .card .media {
  overflow: hidden;
}
.service_content .card .media img {
    width: 100%;
    height: 100%;
    transform:scale(1,1);
    transition: all .5s ease-out;
    cursor: pointer;
}
.service_content .card .media img:hover {
  transform: scale(1.2,1.2);
}

.swiper {
  width: 100%;
  height: 100%;
  padding-bottom: 100px;
}
.swiper-slide {
  text-align: center;
  height: calc((100% - 30px) / 2) !important;
}

@media (min-width: 320px) and (max-width: 991px){
  .navbar-nav {
    margin-top: 12px;
  }
  .nav-item {
    border-bottom: 1px solid rgba(0,0,0,.1);
    color: rgba(0,0,0,.55);
}
.banner-txt {
  writing-mode: unset;
  text-align: center;
  width: 100%;
  font-size: 14px;
}
.header {
  padding-bottom: 40px;
}
.intro {
  padding: 40px 0;
}
.intro h3 {
  font-size: 24px;
  margin-bottom: 15px;
}
.intro p {
  font-size: 14px;
}
.card_content {
  padding: 40px 0;
}
.card_content .row:last-child {
  padding-top: 60px;
}
section .title {
  font-size: 24px;
  padding-bottom: 40px;
}
section .title::after {
  height: 2px;
  width: 40px;
  bottom: 35px;
}
.service_content .card {
  padding: 0 10px;
}
.service_content .card-body {
  font-size: 20px;
}
.service_content .card-txt {
  font-size: 14px;
}
.service_content .card .more_btn {
  padding: 8px 24px;
  font-size: 14px;
  margin: 15px auto;
}
.service {
  padding: 30px 0;
}
.services .card {
  margin-bottom: 30px;
}

.member {
  padding: 30px 0;
}
.member .item {
  margin-bottom: 40px;
}
.member .item p {
  font-size: 14px;
  padding: 20px;
}
.member .item .icon-person {
  font-size: 24px;
  padding: 10px;
  bottom: -30px;
}
.contact {
  padding: 40px 0;
}
.contact form {
  margin-top: 20px;
}
.form_item input {
  padding: 10px;
}
.space_img button {
  padding: 12px 24px;
  font-size: 14px;
  width: 60%;
}
}


/* ---------------------------space--------------------- */
.space_header {
  background: url(../images/theme_space.png);
  width: 100%;
  height: 450px;
  position: relative;
}
.space-banner-txt {
  background-color: rgba(233, 233, 233,0.85);
  padding: 15px 0px;
  color: #000;
  font-weight: 600;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  font-size: 32px;
  width: 100%;
}

.intro .main_space_content {
  font-size: 20px;
}

.theme_space section{
  padding: 80px 0;
}
.life_reading, .coffee_restaurant{
  background-color: #f7f7f7;
}
.creator {
  background-color: #f2f2f2;
}

.theme_space .content {
  font-size: 24px;
  text-align: center;
  line-height: 1.5;
  letter-spacing: 1.5px;
  margin-bottom: 30px;
  font-weight: 400;

}
.theme_space .item {
  border: 1px solid #d9d9d9;
}

.space_intro {
  padding: 30px 0;
  font-size: 24px;
  letter-spacing: 1.5px;
  font-weight: 500;
}
.space_intro .main_space_content {
  padding: 0 30px;
  color: #666;
}

.theme_space .row, 
.price_reading .row{
  padding: 0;
}
.price_reading .item {
  margin-bottom: 30px;
}
.theme_space .item .card-wrap .card-body, 
.price_reading .item .card-wrap .card-body{
  padding: 15px 0;
  font-size: 24px;
  font-weight: 600;
}
.theme_space .item .card-wrap .card-txt, 
.price_reading .item .card-wrap .card-txt{
  text-align: center;
  font-size: 20px;
  letter-spacing: 2px;
  margin-bottom: 0;
  line-height: 1.5;
}

.theme_space .item .card-wrap, .price_reading .item .card-wrap{
  background-color: #fff;
  padding-bottom: 15px;
  box-shadow: 0px 1px 2px rgb(114 141 129 / 80%);
}


.theme_space .item .card-wrap .more_btn{
  padding: 8px 32px;
  border-radius: 8px;
  border:1px solid rgb(114,141,129);
  color: rgb(114,141,129);
  font-size: 20px;
  display: block;
  margin: 20px auto;
  background-color: transparent;
}
.theme_space .item .card-wrap .more_btn:hover{
  background-color: rgb(114,141,129);
  color: #fff;
  transition: .3s;
}
.main_space_content {
  letter-spacing: 1.5px;
  font-weight: 500;

}

.theme_space .item {
  overflow: hidden;
}
.theme_space .item img {
    width: 100%;
    height: 100%;
    transform:scale(1,1);
    transition: all .5s ease-out;
    cursor: pointer;
}
.theme_space .item img:hover {
  transform: scale(1.2,1.2);
}

@media (min-width: 320px) and (max-width: 991px){
  .space-banner-txt {
    padding: 10px 0;
    font-size: 24px;
  }
  .space_intro{
    font-size: 14px;
    padding: 20px 0;
  }
  .theme_space .content {
    font-size: 14px;
    margin-bottom: 20px;
  }
  .theme_space section {
    padding: 40px 0;
  }
  .theme_space .item {
    margin-bottom: 30px;
  }
  .theme_space .item .card-wrap .card-body, .price_reading .item .card-wrap .card-body {
    font-size: 20px;
    padding: 10px 0;
  }
  .theme_space .item .card-wrap .card-txt, .price_reading .item .card-wrap .card-txt {
    font-size: 14px;
  }
  .theme_space .item .card-wrap .more_btn {
    font-size: 14px;
    margin: 10px auto;
    padding: 8px 20px;
  }
  
}
/* ---------------------------service--------------------- */
.service_header {
  background: url(../images/service.png);
  width: 100%;
  height: 450px;
  position: relative;
}
.price_reading{
  padding: 60px 0px;
}
.price_reading .first_space > .item{
  height: 100%;
}

.price {
  padding: 60px 0px;
  background-color: #f2f2f2;
}
.price .item {
  text-align: center;
  background-color: #fff;
  padding: 20px;
  margin: auto 15px;
  box-shadow: 2px 2px 4px rgb(114 141 129 / 80%);
  border-radius: 8px;
  overflow: hidden;
}
.price .item .card-title {
  font-size: 32px;
  font-weight: 600;
  padding-bottom: 4px;
}
.price .item .subTitle {
  font-size: 20px;
  color: #666;
}
.price .item .card-text {
  font-size: 20px;
  padding: 16px 0;
  text-align: left;
}
.price .item .more_btn {
  padding: 12px 24px;
  border-radius: 8px;
  background-color: transparent;
  border:1px solid rgb(114,141,129);
  color: rgb(114,141,129);
  font-size: 24px;
  margin: auto;
  cursor: pointer;
  text-decoration: none;
}

.price .item .more_btn:hover {
  background-color: rgb(114,141,129);
  color: #fff;
  transition: .3s;
}
.formControls .js-btn{
  border:1px solid rgb(114,141,129);
  color: rgb(114,141,129);
  background-color: transparent;
}
.formControls .js-btn:hover {
background-color: rgb(114,141,129);
color: #fff;
transition: .3s;
}

.myOrder .item:hover {
  transform: translateY(-8px);
  transition: all .3s;
  box-shadow: 4px 4px 6px rgb(114 141 129 / 90%);
}

@media (min-width: 320px) and (max-width: 991px){
  .price_reading {
    padding-top: 40px;
    padding-bottom: 20px;
  }
  .price {
    padding-top: 40px;
    padding-bottom: 20px;
  }
  .space_life {
    margin: 0;
  }
  .price .item {
    padding: 10px;
    width: 60%;
    margin: auto;
    margin-bottom: 30px;
  }
  .price .item .card-title {
    font-size: 24px;
  }
  .price .item .subTitle {
    font-size: 16px;
  }
  .price .item .card-text {
    font-size: 14px;
    text-align: center;
    padding: 8px 0;
    margin-bottom: 10px;
  }
  .price .item .more_btn {
    font-size: 14px;
    padding: 8px 20px;
  }
  .order form {
    padding: 40px 0;
  }
  
}
@media screen and (max-width:480px) {
  .price .item {
    width: 100%;
  }
}
/* ---------------------------setting--------------------- */
.setting_header {
  background: url(../images/setting.png);
  width: 100%;
  height: 450px;
  position: relative;
}
.setting{
  padding: 60px 0;
}
.setting .container {
  max-width: 640px;
}
.save {
  padding: 4px 24px;
  border-radius: 8px;
  bottom: 20px;
  background-color: transparent;
  border:1px solid rgb(114,141,129);
  color: rgb(114,141,129);
  font-size: 24px;
  margin: auto;
  cursor: pointer;
}
.save:hover {
  background-color: rgb(114,141,129);
  border:1px solid rgb(114,141,129);
  color: #fff;
  transition: .3s;
}
.person-file {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border:1px solid rgb(114,141,129);
  font-size: 0;
  cursor: pointer;
  position: relative;
  z-index: 1;
  opacity: 0;
}
.avatar {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

}
.avatar .person-file-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border:1px solid rgb(114,141,129);

}

@media (min-width: 320px) and (max-width: 991px) {
  .setting {
   padding: 40px 0;
  }
}
/* ---------------------------setting--------------------- */
.order_list_header {
  background: url(../images/order_list.png);
  width: 100%;
  height: 450px;
  position: relative;
}
.order_list_space{
  padding: 60px 0;
  background-color: #f4f4f4;
}
.order_list_space h4 {
  font-size: 24px;
  margin-bottom: 8px;
}
.order_list_space .list {
  padding: 0 50px;
}
.order_list_space .list li{
  padding: 8px 0;
}
.order_list {
  margin-bottom: 40px;
}

/* ---------------------------order--------------------- */
.order_header {
  background: url(../images/order.png);
  width: 100%;
  height: 450px;
  position: relative;
}
.order form {
  padding: 80px 0;
}
.cartAmount-icon {
  padding: 5px;
}

.num {
  text-align: center;
}
.order_list  .list {
  font-size: 20px;
}
.order_list .js-btn{
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  margin-top: 8px;
}
.order_list .row {
  background-color: #fff;
  box-shadow:0 2px 6px rgba(114,141,129, .9);
  border-radius: 4px;
  padding: 20px;
}

@media (min-width: 320px) and (max-width: 991px) {
  .order_list_space .list {
   padding: 0;
   margin-top: 20px;
   text-align: left;
  }
  .order_list_space{
    padding: 40px 0;
  }
  .order_list .js-btn{
    display: block;
    position: absolute;
    margin-top: 15px;
  }
  .order_list .row {
    position: relative;
  }
}
@media (max-width: 991px){
  .order_list .js-btn {
    right: -74%;
    bottom: 37%;
   }
}
@media (max-width: 767px){
  .order_list .js-btn {
    bottom: 41%;
   }
}

@media (max-width: 576px){
  .order_list .js-btn {
    position: static;
    text-align: center;
   }
   .order_list_space .list{
    text-align: center;
    font-size: 16px;
   }

}

.orderInfo-message {
  color: #C72424;
  white-space: nowrap;

}

.form-control:focus, .form-select:focus {
  border-color: rgb(114,141,129);
  box-shadow: 0 0 0 0.25rem rgb(114 141 129 / 25%);
}
.btn-outline-secondary:hover {
  border-color: rgb(114,141,129);
  background-color: rgb(114 141 129);
}